@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import './variables';
@import './mixins';

.container {
  margin: 0 1%;
  display: flex;
  flex-direction: column;
  max-width: 98%;
}
.container.active {
  display: none;
}

.winnersContainer {
  display: flex;
  flex-direction: column;
  display: none;

}

.winnersContainer.active {
  display: initial;
}

.headerGarage {
  color: blueviolet;
  font-size: 32px;
}

.subheader {
  color: blue;
  font-size: 26px;
}

.table {
  width: 40%;
}

.title {
  width: 80px;
  margin: 10px;
  justify-content: space-between;
  text-align: center;
  align-content: center;
}

.tableData {
  display: flex;
 height: 50px;
width: 80px;
margin: 10px;
text-align: center;
align-items: center;
 
}

.minicar {
  margin-left: -40px;
  position: relative;
}

.buttonsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  gap: 15px;
  align-items: center;
}

.firstLineWrapper{
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  align-items: center;
}
.smallButtonsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 30px;
  align-items: center;
  gap: 15px;
}


.longbuttonsWrappe {
  display: flex;
  flex-wrap: nowrap;
  width: 600px;
  gap: 15px;
}

.trackWrapper {
  display: block;
  max-width: 100%;
  border-bottom: 2px dashed black;
}
.secondLineWrapper {
display: flex;
flex-direction: column;
justify-content: space-between;
  height: 90px;
  width: 100%;
 
  position: relative;
  border-bottom: 2px dashed darkgray;
}

.secondLineWrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 2px dashed black;
  top: 69%;
  left: 0;
}

.carWrapper {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
 
.flag {
 
  width: 12%;
  position: absolute;
  top: -45%;
  left: 87%;
}
.flag-img {
 height: 50px;
 
}


.flag::before {
  content: "";
  border: 1px solid rgb(46, 7, 105);
  position: absolute;
  height: 80%;
  top: 70%;
  left: 5%;
  transform: rotate(-40deg);
}

.button {

  @include startButton;
}
.colorInput {
  border-radius: 5px;
}

.inactive {
  @include disabledStart;

}


.longbutton {
  @include generateButton;
}


  .aButton {
    @include blueButton;
  }


.remove {
@include remove
}

tr {
  display: flex;
}

.car {
  position: relative;
  width: 10%; 
  height: fit-content;
  max-height: 50px;
  padding-top: 3%; /* Calculated based on the SVG's aspect ratio */
  z-index: 5;
 }
 
 svg {
  position: absolute;
  z-index: 5;
  max-height: 100%;
  left: 0;
  top: 0;
 }

 .brand {
width: 150px;
 }

.input {
  width: 150px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
}

@keyframes move {
  0% {
      
      left: 0;
  }
  100% {
      
      left: 500px;
  }
}
