@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lobster&family=Palanquin:wght@100;200;300;400;500;600;700&family=Tillana:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import './variables';
@import './mixins';

.container {

  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0 1%;
  background-color: rgba(236, 228, 221, 0.5);
}

.container.active {
  display: none;
}

.container1 {

  display: flex;
  flex-direction: column;
  max-width: 100%;


}

.container1.active {
  display: none;
}

.title {
  font-size: 30px;
  font-family: "Palanquin", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: $redBook;
  height: 50px;
  width: 35px;
  text-align: center;
}

.winnersContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;

}

.winnersContainer.active {
  display: flex;
}

.headerGarage {
  color: rgb(84, 37, 13);
  font-size: 32px;
}

.subheader {
  color: rgb(20, 20, 80);
  font-size: 26px;
}

.table {
  max-width: 450px;
  margin: 20px auto;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgba(236, 228, 221, 0.6);
  ;
}

.tabTitle {
  width: 80px;
  margin: 10px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content: space-between;
  text-align: center;
  align-content: center;
}

.tableData {
  display: flex;
  height: 50px;
  width: 80px;
  padding: 10px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;

}

.with-sort-wins {
  width: 80px;
}

.with-sort {
  width: 100px;
}

th {
  border: 1px solid gray;
}

.buttonsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 470px;
  gap: 15px;
  margin-bottom: 10px;
  align-items: center;
}

.race {
  @include yellowButton;
}

.firstLineWrapper {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
}

.smallButtonsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 35px;
  align-items: center;
  gap: 15px;
}

.smallButtonsWrapper1 {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 35px;
  align-items: center;
  gap: 10px;
}

.pagesButtonsWrapper {
  margin: 15px 0 15 0;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: 30px;
  align-items: center;
  gap: 15px;
}


.longbuttonsWrappe {
  display: flex;
  flex-wrap: nowrap;
  max-width: 490px;
  gap: 15px;
}

.trackWrapper {
  display: block;
  width: 100%;
  //border-bottom: 2px dashed black;
  margin-bottom: 10px;

}

.secondLineWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  gap: 10px;
  position: relative;
  // border-bottom: 2px dashed darkgray;
  background-image: url('line2.png');
  background-size: 5% auto;
  background-position: 0 103%;
  ;
  background-repeat: repeat-x;
}

.secondLineWrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  //border-bottom: 2px dashed darkgray;
  background-image: url('line4.png');
  background-size: 3% auto;
  background-position: 0 100%;
  background-repeat: repeat-x;
  top: 55%;
  left: 0;
}

.carWrapper {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding-bottom: 10px;
}

.flag {

  width: 15%;
  position: absolute;
  top: -165%;
  left: 82%;
  z-index: 10;

}



.flag-img {
  height: 120px;

}


.flag::before {
  content: "";
  border: 1px solid rgb(94, 51, 3);
  position: absolute;
  height: 30%;
  top: 70%;
  left: 3%;
  transform: rotate(-40deg);
  z-index: 2;
}

.button {

  @include startButton;
}

.colorInput {
  height: 30px;
  border-radius: 5px;
  border: 2px solid $greenBook;
}

.inactive {
  @include disabledStart;

}

.inactive2 {
  @include disabledRace;

}

.disabled-aButton {
  @include disabledBlueButton
}

.longbutton {
  @include generateButton;
}

.inactiveGenerate {
  @include disabledGenerate;
}

.aButton {
  @include blueButton;

}

.bButton {
  @include invertedBlueButton;
}

.remove {
  @include remove
}

.inactive3 {
  @include disabledRemove
}

tr {
  display: flex;
}

.car {
  position: relative;
  width: 15%;

  height: fit-content;
  max-height: 50px;
  padding-top: 3%;
  /* based on the SVG's aspect ratio */
  z-index: 5;
  background-size: cover;

}



svg {
  position: absolute;
  z-index: 5;
  max-height: 90%;
  max-width: 150px;
  left: 0;
  top: 0;
}

.svg {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 3%;
  position: relative;
  height: 30px;
  width: 80px;
}

@media (max-width: 1300px) {
  svg {
    max-height: 120%;
  }
}

@media (max-width: 1100px) {
  svg {
    max-height: 130%;
  }
}

@media (max-width: 1000px) {
  svg {
    max-height: 150%;
  }
}

@media (max-width: 950px) {
  svg {
    max-height: 160%;
  }
}

@media (max-width: 900px) {
  svg {
    max-height: 170%;
  }
}

.minicar {
  padding-top: 15px;
  max-height: 50px;

}

.brand {
  width: 150px;
  font-family: "Palanquin", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: $redBook;
}

.input {
  width: 150px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid $greenBook;
}

@keyframes move {
  0% {

    left: 0;
  }

  100% {

    left: 500px;
  }
}

.page-button {
  @include carWheelButton
}

.page-button.inactivePage {
  background: linear-gradient(to left, #f7f3f3, #bfbbbb);
  border: 2px solid #888787;
  color: #666666;
}

.sort-button {
  display: none;
  margin-left: 5px;
  margin-top: 5px;
  width: 20px;
  height: 20px;
  background-image: url('arrowUp.png');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.sort-button:hover {
  transform: scale(1.1);
}

.sort-button.visible {
  display: inline-block;
}

.sort-button.active {
  background-image: url('arrowDown.png');
}