@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lobster&family=Tillana:wght@400;500;600;700;800&display=swap');

.header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 90%;
  height: 90px;
  background: rgba(247, 236, 218, 0.6);
  border: 2px solid $redBook;
  border-radius: 7px;
  padding: 5px 10px;
  margin: 10px auto;
  gap: 5px;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  gap: 10px;
  font-size: 18px;
}


.icon-container {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  gap: 5px;
}


.icon1 {
  width: 70px;
  height: 40px;
  cursor: pointer;

}

.icon {
  width: 50px;
  height: 40px;
  cursor: pointer;

}

.welcomeTitle {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  color: $redBook;
  height: 70px;
  min-width: 30%;
  text-align: center;
}