@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lobster&family=Tillana:wght@400;500;600;700;800&display=swap');

@import './variables';

@mixin startButton {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  border: 2px solid $redBook;
  text-align: center;
  border-radius: 10px;
  color: $greenBook;
  font-family: 'Gochi Hand', cursive;
  font-weight: 400;
  font-size: 22px;
  cursor: pointer;
  background: linear-gradient(to right,
      rgba(246, 240, 228, 0.216),
      rgba(235, 175, 140, 0.164));
  box-shadow: 2px 2px 4px rgba(85, 84, 84, 0.4);
  transition: background 0.5s ease;

  &:hover {
    background: linear-gradient(to left,
        rgba(246, 240, 228, 0.216),
        rgba(230, 184, 158, 0.164));
    color: green;
    transform: scale(1.05);
    border: 2px solid rgba(151, 6, 40, 0.9);
  }
}


@mixin disabledStart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  color: $greenBook;
  font-family: 'Gochi Hand', cursive;
  font-weight: 400;
  font-size: 22px;
  border: 2px solid #888787;
  color: #666666;
  cursor: not-allowed;
  background: linear-gradient(to left, #f7f3f3, #bfbbbb);
  box-shadow: 2px 2px 4px rgba(85, 84, 84, 0.4);
  transition: background 0.5s ease;

  &:hover {
    background: linear-gradient(to right, #f7f3f3, #bfbbbb);
    transform: scale(1.05);
    border: 2px solid #2f2e2e;
  }
}

@mixin blueButton {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  border: 2px solid $blueButtonBorder;
  text-align: center;
  border-radius: 10px;
  color: $blueColor;
  font-weight: 400;
  cursor: pointer;
  background: linear-gradient(to right, $blueSelectOption0, $selectHover);
  transition: background 0.5s ease;

  &:hover {
    background: linear-gradient(to left, $blueSelectOption0, $selectHover);
    border: 2px solid $blueButtonBorderHover;
  }

  @media (max-width: 600px) {
    max-width: 80px;
    @content;
  }
}

@mixin disabledBlueButton {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  border: 2px solid #888787;
  color: #666666;
  text-align: center;
  border-radius: 10px;
  color: $blueColor;
  font-weight: 400;
  cursor: not-allowed;
  background: linear-gradient(to left, #f7f3f3, #bfbbbb);
  box-shadow: 2px 2px 4px rgba(85, 84, 84, 0.4);
  transition: background 0.5s ease;

  &:hover {
    background: linear-gradient(to right, #f7f3f3, #bfbbbb);
    transform: scale(1.05);
    border: 2px solid #2f2e2e;
  }
}

@mixin invertedBlueButton {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  border: 2px solid $blueButtonBorder;
  text-align: center;
  border-radius: 10px;
  color: $blueColor;
  font-weight: 400;
  cursor: pointer;
  background: linear-gradient(to left, $blueSelectOption0, $selectHover);
  transition: background 0.5s ease;

  &:hover {
    background: linear-gradient(to right, $blueSelectOption0, $selectHover);
    border: 2px solid $blueButtonBorderHover;
  }

  @media (max-width: 600px) {
    max-width: 80px;
    @content;
  }
}

@mixin yellowButton {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border: 2px solid rgb(162, 88, 42);
  text-align: center;
  border-radius: 10px;
  color: rgb(62, 32, 32);
  font-family: 'Gochi Hand', cursive;
  font-weight: 400;
  font-size: 22px;
  cursor: pointer;
  background: linear-gradient(to right,
      rgb(237, 236, 225),
      rgb(239, 234, 170));
  transition: background 0.5s ease;

  &:hover {
    background: linear-gradient(to left,
        rgb(237, 236, 225),
        rgb(239, 234, 170));
    border: 2px solid orange;
  }

  @media (max-width: 600px) {
    max-width: 80px;
    @content;
  }
}

@mixin disabledRace {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  color: $greenBook;
  font-family: 'Gochi Hand', cursive;
  font-weight: 400;
  font-size: 22px;
  border: 2px solid #888787;
  color: #666666;
  cursor: not-allowed;
  background: linear-gradient(to left, #f7f3f3, #bfbbbb);
  box-shadow: 2px 2px 4px rgba(85, 84, 84, 0.4);
  transition: background 0.5s ease;

  &:hover {
    background: linear-gradient(to right, #f7f3f3, #bfbbbb);
    transform: scale(1.05);
    border: 2px solid #2f2e2e;
  }
}

@mixin invertedPinkButton {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border: 2px solid pink;
  text-align: center;
  border-radius: 10px;
  color: $modalMessagePink;
  font-weight: 400;
  cursor: pointer;
  background: linear-gradient(to left,
      $modalButtonBackgroundStartColorPink,
      $modalButtonBackgroundEndColorPink );
  transition: background 0.5s ease;

  &:hover {
    background: linear-gradient(to right,
        $modalButtonBackgroundStartColorPink,
        $modalButtonBackgroundEndColorPink );
    border: 2px solid rgb(212, 146, 161);
  }

  @media (max-width: 600px) {
    max-width: 80px;
    @content;
  }
}

@mixin pinkSelector {
  font-family: 'Lobster', sans-serif;
  font-weight: 300;
  border-radius: 5px;
  border: 2px solid rgb(212, 146, 161);
  width: 70px;
  background-color: rgba(250, 221, 225, 0.8);
  padding-left: 2px;

  &:hover {
    border: 2px solid rgb(185, 112, 129);
  }

  &:checked {
    border: 2px solid rgb(185, 112, 129);
  }
}

@mixin blueSelector {
  font-family: 'Lobster', sans-serif;
  font-weight: 300;
  border-radius: 5px;
  border: 2px solid rgb(164, 159, 217);
  width: 70px;
  background-color: rgba(202, 227, 242, 0.8);
  padding-left: 2px;

  &:hover {
    border: 2px solid rgb(133, 125, 221);
  }

  &:checked {
    border: 2px solid rgb(133, 125, 221);
  }
}

@mixin remove {
  display: inline-flex;
  background-color: $redBook;
  border: 2px solid $greenBook;
  width: 80px;
  border-radius: 7px;
  color: rgb(240, 237, 136);
  height: 30px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;


  &:hover {
    background-color: rgb(236, 162, 101);
    color: #e1edc4;
  }
}

@mixin disabled {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  border: 2px solid #888787;
  text-align: center;
  border-radius: 7px;
  color: #666666;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  cursor: not-allowed;
  background: linear-gradient(to left, #f7f3f3, #bfbbbb);
  margin: 20px 20px;
  transition: background 0.5s ease;

  &:hover {
    background: linear-gradient(to right, #f7f3f3, #bfbbbb);
    border: 2px solid #2f2e2e;
  }
}

@mixin generateButton {
  margin-bottom: 10px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  border: 2px solid $redBook;
  text-align: center;
  border-radius: 10px;
  color: $greenBook;
  font-family: 'Gochi Hand', cursive;
  font-weight: 400;
  font-size: 22px;
  cursor: pointer;
  background: linear-gradient(to right,
      rgba(246, 240, 228, 0.216),
      rgba(235, 175, 140, 0.164));
  box-shadow: 2px 2px 4px rgba(85, 84, 84, 0.4);
  transition: background 0.5s ease;

  &:hover {
    background: linear-gradient(to left,
        rgba(246, 240, 228, 0.216),
        rgba(230, 184, 158, 0.164));
    color: green;
    transform: scale(1.05);
    border: 2px solid rgba(151, 6, 40, 0.9);
  }
}

@mixin carWheelButton {
  background: linear-gradient(to bottom, #333, #666);
  border: 2px solid #333;
  border-radius: 70%;
  color: rgb(245, 249, 214);
  font-size: 16px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;


  &:hover {
    background: linear-gradient(to bottom, #666, #333);
    cursor: pointer;
  }
}

@mixin SteeringWheelButton {
  background: linear-gradient(to bottom, #333, #666);
  border: 2px solid #333;
  border-radius: 50%;
  /* Makes the button circular */
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Adds a shadow for depth */
  position: relative;
  /* Needed for pseudo-elements */


  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: linear-gradient(to bottom, #666, #333);
    transform: translate(-50%, -50%);
    z-index: -1;
    /* Places the pseudo-element behind the button text */
  }

  &:hover {
    background: linear-gradient(to bottom, #666, #333);
    cursor: pointer;
  }
}