
@import './styles/modal';
@import './styles/mixins';
@import './styles/variables';
@import './styles/game';
@import './styles/toast.scss';

body {
  box-sizing: border-box;
 
  margin: 20px;
  padding: 0;
  height: 100vh;
  width: 100vw;


    background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  background-image: url('beige-background.jpg');
  background-size: cover;
  background-repeat: repeat;
  
}