@import './styles/mixins';
@import './styles/variables';
@import './styles/game';
@import './styles/header';
@import './styles/toast.scss';

body {
  box-sizing: border-box;
  width: 100vw;
  max-width: 100%;
  background-image: url('Paris1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(236, 228, 221);
  background-position: center 100px;

}