@import './styles/modal';
@import './styles/mixins';
@import './styles/variables';
@import './styles/game';
@import './styles/header';
@import './styles/toast.scss';

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-image: url('beige-background.jpg');
  background-size: cover;
  background-repeat: repeat;


}